/* line 4, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/opendash/sass/opendash.scss */
body {
  min-height: 2000px;
  padding-top: 70px;
  background-color: #e3e1de; }

/* line 11, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/opendash/sass/opendash.scss */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }
  /* line 15, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/opendash/sass/opendash.scss */
  .form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px; }
  /* line 18, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/opendash/sass/opendash.scss */
  .form-signin .checkbox {
    font-weight: normal; }
  /* line 22, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/opendash/sass/opendash.scss */
  .form-signin .form-control {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    height: auto;
    padding: 10px;
    font-size: 16px; }
  /* line 29, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/opendash/sass/opendash.scss */
  .form-signin .form-control:focus {
    z-index: 2; }
  /* line 33, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/opendash/sass/opendash.scss */
  .form-signin input[type='email'] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  /* line 38, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/opendash/sass/opendash.scss */
  .form-signin input[type='password'] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

/* line 49, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/opendash/sass/opendash.scss */
.form-group label.validation-error {
  display: none; }

/* line 55, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/opendash/sass/opendash.scss */
.form-group.has-error label.validation-error {
  display: block; }

/* line 63, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/opendash/sass/opendash.scss */
.generic-error {
  text-align: center;
  padding: 20px;
  border: 1px solid white; }
  /* line 67, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/opendash/sass/opendash.scss */
  .generic-error h1 {
    font-weight: 300;
    font-size: 70px;
    letter-spacing: 3;
    margin-bottom: 20px; }
  /* line 73, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/opendash/sass/opendash.scss */
  .generic-error p {
    font-weight: 300;
    font-size: 30px;
    letter-spacing: .5;
    color: #df918e; }

/* line 82, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/opendash/sass/opendash.scss */
.rotate {
  animation: full_rotation linear 2s infinite; }

/* line 86, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/opendash/sass/opendash.scss */
.agent-container .agent {
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 20px;
  margin-bottom: 10px; }
  /* line 92, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/opendash/sass/opendash.scss */
  .agent-container .agent p:last-child {
    margin: 0; }

/* line 97, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/opendash/sass/opendash.scss */
.agent-container .loading-message {
  color: #aeaeae;
  text-align: center; }

@keyframes full_rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=../css/opendash.map */