// basic colors
$warm-grey: #e3e1de;
$grey: #aeaeae;
$dark-red: #df918e;
$black: #000;
$white: #fff;

// contextual definitions
$background: $warm-grey;

$error-border: lighten($dark-red, 30%);
$error-font: $dark-red;

$dashagent-border: lighten($black, 85%);
